<form class="contact-form">

	<label for="name">Name</label>
	<input class="contact-form_name" type="text" placeholder="Name" />

	<label for="name">Phone</label>
	<input class="contact-form_phone" type="tel" placeholder="Phone" />

	<label for="name">E-mail</label>
	<input class="contact-form_email" type="email" placeholder="E-mail" />

	<label for="name">Name</label>
	<textarea class="contact-form_message" placeholder="Message">
	</textarea>

	<button class="btn contact-form_btn-submit" type="submit">Send</button>
</form>