body {
  font-family: $font-family-sans-serif;
  font-size: 1em;
  color: $brand-purple;
  text-align: center;
  background: $brand-white;
}

// Link Styles
a {
  display: inline-block;
  position: relative;
  padding-bottom: $slide-border-size;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: all $transition-time ease-in-out;

  &:link,
  &:active {
    color: $brand-red;
  }

  &:visited {
    color: darken($brand-red, 15%);
  }

  &:hover {
    color: $brand-blue;

    // To help create sliding border effect on hover
    &:after {
      width: 100%;
      background: $brand-blue;
    }
  }

  // Create sliding border effect
  &:after {
    content: '';
    display: block;
    margin: auto;
    height: $slide-border-size;
    width: 0px;
    background: transparent;
    transition: width $transition-time ease, background-color $transition-time ease;
  }
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  margin: 0;
  color: $brand-purple;
  font-family: $font-family-sans-serif;
  font-size: 1.8em;
  font-weight: bold;
}

.ampersand { font-family: $font-family-serif; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
