body {
  font-family: $font-family-sans-serif;
  color: $brand-purple;
  text-align: center;
  background: $brand-white;
}

// Link Styles
a {
  &:link,
  &:active {
    color: $brand-red;
    display: inline-block;
    position: relative;
    padding-bottom: $slide-border-size;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all $transition-time ease-in-out;
  }

  &:focus {
    outline: none;
  }

  &:visited {
    color: darken($brand-red, 15%);
  }

  &:hover {
    color: $brand-blue;

    // To help create sliding border effect on hover
    &:after {
      width: 100%;
      background: $brand-blue;
    }
  }

  // Create sliding border effect
  &:after {
    content: '';
    display: block;
    margin: auto;
    height: $slide-border-size;
    width: 0px;
    background: transparent;
    transition: width $transition-time ease, background-color $transition-time ease;
  }
}

.ampersand { font-family: $font-family-serif; }

.icon { 
  display: inline-block;
  width: $icon-size;
  height: $icon-size;

  @media screen and (min-width: $screen-tablet) {
    width: $icon-size/2;
    height: $icon-size/2;
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
