// Header
.header {
	padding: $header-padding/2 0 $header-padding;

	@media screen and (min-width: $screen-tablet) {
		padding: $header-padding*2 0 $header-padding*2 0;
	}

	&--home {
		background: $brand-neutral;

		@media screen and (min-width: $screen-tablet) {
			background: $brand-white;
			background-image: url("http://placekitten.com/g/1400/500");
			background-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.65) 65%), url("http://placekitten.com/g/1400/500");
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&_logo {
			&:before {
				@include center-block;

				content: '';
				width: $avatar-size;
				height: $avatar-size;
				background: url("http://placehold.it/350x350") center no-repeat;
				border: 10px $brand-white solid;
				border-radius: 50%;
				box-shadow: 0 0 10px rgba(0,0,0,0.15);

				@media screen and (min-width: $screen-desktop) {
					display: none;
				}
			}
		}
	}
}

// Main
.main {
	position: relative;

	// Creates top blue divider
	&:before,
	&--home_work_examples:after {
		content: '';
	  position: absolute;
	  display: block;
	  left: 0;
	  width: 100%;
	  height: $divider-height*2;
		background: $brand-blue;
	  z-index: 1;
	  -webkit-transform: skewY(-#{$tilt-degree});
	  -moz-transform: skewY(-#{$tilt-degree});
	  -ms-transform: skewY(-#{$tilt-degree});
	  -o-transform: skewY(-#{$tilt-degree});
	  transform: skewY(-#{$tilt-degree});
	  -webkit-backface-visibility: hidden;
	}

	&:before {
		top: -#{$divider-height};
		background: -moz-linear-gradient(top, #68bdb6 0%, #68bdb6 50%, #afdcd8 50%, #afdcd8 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #68bdb6 0%,#68bdb6 50%,#afdcd8 50%,#afdcd8 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #68bdb6 0%,#68bdb6 50%,#afdcd8 50%,#afdcd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68bdb6', endColorstr='#afdcd8',GradientType=0 );
	}

	&--home_work_examples:after {
		margin-top: $divider-height/2;
		background: -moz-linear-gradient(top,  #afdcd8 0%, #afdcd8 50%, #68bdb6 50%, #68bdb6 100%);
		background: -webkit-linear-gradient(top,  #afdcd8 0%,#afdcd8 50%,#68bdb6 50%,#68bdb6 100%);
		background: linear-gradient(to bottom,  #afdcd8 0%,#afdcd8 50%,#68bdb6 50%,#68bdb6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afdcd8', endColorstr='#68bdb6',GradientType=0 );
	}

	// Home page style
	&--home {

		&:before {
			// margin-bottom: $divider-margin;
		}

		// Home > Work
		&_work {
			&_examples {
				@include list-reset;
				padding-top: $divider-margin*1.5;
				padding-bottom: $divider-margin*1.5;
				background-color: lighten($brand-blue, 20%);
			}
		}

		// Home > Contact (Let's Chat)
		&_contact {
			padding-top: $divider-height*3;
			background-color: $brand-neutral;

			&:after {
				content: "";
				display: block;
				height: $divider-height;
				-webkit-transform: skewY(#{$tilt-degree});
			  -moz-transform: skewY(#{$tilt-degree});
			  -ms-transform: skewY(#{$tilt-degree});
			  -o-transform: skewY(#{$tilt-degree});
			  transform: skewY(#{$tilt-degree});
			}
		}
	}
}