// Header
.header {
	padding: $header-padding/2 $global-padding $header-padding $global-padding;

	@media screen and (min-width: $screen-tablet) {
		padding: $header-padding 0 $header-padding*2 0;
	}

	&--home {
		background: $brand-neutral;
		text-align: center;

		@media screen and (min-width: $screen-tablet) {
			padding: $global-padding $global-padding*2 $global-padding*1.5 $global-padding*2;
		}

		@media screen and (min-width: $screen-desktop) {
			padding: $header-padding*1.5 $global-padding*2 $header-padding*2 50%;
			text-align: left;
			background: $brand-white;
			background-image: url("http://placekitten.com/g/1400/500");
			background-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.65) 65%), url("http://placekitten.com/g/1400/500");
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&_logo {
			position: relative;
			height: $avatar-size*1.9;
			background: url("../../images/svg/becky-sroufe.svg");
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: $avatar-size*1.5;
			animation: fadeInDown $animation-timing;

			@media screen and (min-width: $screen-tablet) {
				height: $avatar-size*1.2;
				background-position: right $avatar-tablet center;
				background-size: 50%;
			}

			@media screen and (min-width: $screen-desktop) {
				height: $logo-size;
				background: url("../../images/becky-sroufe.png");
				background-repeat: no-repeat;
				background-position: left bottom;
				background-size: $logo-size*1.75;
			}

			// Avatar above logo
			&:before {
				@include center-block;

				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: $avatar-size;
				height: $avatar-size;
				background-image: url("http://placehold.it/350x350");
				background-position: center;
				background-repeat: no-repeat;
				border: 10px $brand-white solid;
				border-radius: 50%;
				box-shadow: 0 0 10px rgba(0,0,0,0.15);

				// Pulls to left on tablet screen
				@media screen and (min-width: $screen-tablet) {
					left: $avatar-tablet;
					right: auto;
					display: inline-block;
					margin: 0;
				}

				// Disappears on large desktop screen
				@media screen and (min-width: $screen-desktop) {
					display: none;
				}
			}
		}

		&_info {
			animation: fadeInUp $animation-timing;

			&_role {
				padding: 0;
			}

			&_description {
				margin-bottom: $global-padding*0.75;
			}
		}

		&_description {
			font-size: $font-size-base*1.5;
		}
	}
}

// Main
.main {
	position: relative;

	// Creates top blue divider
	&:before,
	&--home_work:after {
		content: '';
	  position: absolute;
	  display: block;
	  left: 0;
	  width: 100%;
	  height: $divider-height*3;
		background: $brand-blue;
	  z-index: 1;
	  -webkit-transform: skewY(-#{$tilt-degree});
	  -moz-transform: skewY(-#{$tilt-degree});
	  -ms-transform: skewY(-#{$tilt-degree});
	  -o-transform: skewY(-#{$tilt-degree});
	  transform: skewY(-#{$tilt-degree});
	  -webkit-backface-visibility: hidden;
	}

	// Global top divider
	&:before {
		top: -#{$divider-height*1.5};
		background: -moz-linear-gradient(top, #68bdb6 0%, #68bdb6 50%, #afdcd8 50%, #afdcd8 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #68bdb6 0%,#68bdb6 50%,#afdcd8 50%,#afdcd8 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #68bdb6 0%,#68bdb6 50%,#afdcd8 50%,#afdcd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68bdb6', endColorstr='#afdcd8',GradientType=0 );
	}

	// Home
	&--home {
		padding-top: $divider-margin;
		background-color: lighten($brand-blue, 20%);

		&_title {
			display: none;
		}

		// Home > Work
		&_work {
			@include list-reset;
			padding-top: $divider-margin*1.5;
			padding-bottom: $divider-margin*1.5;
			background-color: $brand-blue-light;

			// Establish divider color (inverse of top)
			&:after {
				margin-top: $divider-height/4;
				background: -moz-linear-gradient(top,  #afdcd8 0%, #afdcd8 50%, #68bdb6 50%, #68bdb6 100%);
				background: -webkit-linear-gradient(top,  #afdcd8 0%,#afdcd8 50%,#68bdb6 50%,#68bdb6 100%);
				background: linear-gradient(to bottom,  #afdcd8 0%,#afdcd8 50%,#68bdb6 50%,#68bdb6 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afdcd8', endColorstr='#68bdb6',GradientType=0 );
			}

			&_sample {
				@include center-block;

				margin: $global-padding $global-padding/2;
				height: $work-size*0.75;

				@media screen and (min-width: $screen-tablet) {
					margin: $global-padding/4;
					display: inline-block;
					width: 45%;
				}

				@media screen and (min-width: $screen-lg-desktop) {
					width: 30%;
					height: $work-size*0.8;
				}

				&_page {
					width: 100%;
					height: 100%;
				}
			}
		}

		// Home > Contact (Let's Chat)
		&_contact {
			padding-top: $divider-height*4; // If form present = *3
			background-color: $brand-neutral;

			a {
				font-weight: normal;
				text-transform: none;
			}

			&:after {
				content: "";
				display: block;
				height: $divider-height;
			}

			&-info,
			&-form {
				@include center-block;
				width: 80%;

				@media screen and (min-width: $screen-desktop) {
					display: inline-block;
					width: 44.85%;
					padding-left: 2.5%;
					padding-right: 2.5%;
					height: 250px;
					vertical-align: middle;
				}
			}

			@media screen and (min-width: $screen-desktop) {
				// Reinstate when contact form available 
				// padding: 75px 10% 75px 50%; // Note: same as header--home
	  		text-align: left;
			}
		}
	}
}

// Home Page > Work Samples
.home-work {
	&--example {
		background-image: url("http://placehold.it/800x700");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.footer_info,
.social-links {
	> p {
		margin: 0;
	}

	@media screen and (min-width: $screen-desktop) {
		width: 49.75%;
		height: 30px;
		display: inline-block;
		vertical-align: middle;
	}
}