<div class="main--home_contact-info">
	<h3>Let's Chat!</h3>
	<p>
		Tell me a bit about yourself! Okay, I’ll go first - when away from my keyboard, I can be found co-leading <a href="https://www.girldevelopit.com/chapters/cincinnati" target="_blank">GDI Cincinnati</a>, hiking, growing a succulent garden, taking too many <a href="https://www.instagram.com/beckysroufe/" target="_blank">pictures of my dog</a> and savoring craft coffee (<a href="https://untappd.com/user/beckysroufe/" target="_blank">or beer</a>, depending on the hour).
	</p>
</div>