Copyright &copy; 2016 Becky Sroufe <span class="icon settings"></span> 

Made with 
	<span class="icon love"></span>
	<span class="ampersand">&amp;</span>

<% data.footer.links.each do |link| %>
<ul class="web-tools">
	<li class="web-tools_tool">
		<a class="icon <%= link.className %>" href="<%= link.href %>" target="_blank"></a>
	</li>
</ul>
<% end %>