
.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  margin: auto;
  z-index: 1000;

  @media (min-width: $screen-desktop) {
    width: 90%;
    height: 90%;
    margin:auto;
  }

  img { 
    width: 90%; 
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }

  &-body { padding: 2em 1.5em; }

  &-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(61, 37, 44, 0.8) !important;
  }

  a.close {
    line-height: 1;
    font-size: 2.5em;
    position: absolute;
    top: 0;
    right: 2%;
    text-decoration: none;
    color: $brand-white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    transform: scale(1.1);

    @media screen and (min-width: $screen-desktop) {
      font-size: 2.5/2;
    }

    &:hover {
      color: $brand-blue;
      -webkit-transition: all $transition-time ease;
      -moz-transition: all $transition-time ease;
      transition: all $transition-time ease;
    }

    &:after {
      display: none;
    }
  }
}