---
title: Becky Sroufe | UI Designer & Front End Developer
---

<header class="header header--home">
	<div class="header--home_logo"></div>

	<h1>
		UI Designer <span class="ampersand">&amp;</span> Front End Developer
	</h1>

	<p>
		Hi! My name is Becky and I am a problem solver who designs and builds solutions for users to enjoy. I have over 8 years experience handcrafting pixel magic into interactive digital experiences.
	</p>

	<a href="https://drive.google.com/file/d/0ByevVjwu0Lcyaklad2tfcmdSckU/view" alt="View and download Becky Sroufe resume" title="View and download Becky Sroufe resume" target="_blank">
		<i class="fa fa-file-pdf-o view-resume"></i>View Resume
	</a>
</header>

<main class="main main--home">

	<!-- Work Examples -->
	<h2 class="main--home_title">Work</h2>
	<ul class="main--home_work">
		<% data.work.works.each do |work| %>
		<li class="<%= work.className %>"></li>
		<% end %>

		<p>EXAMPLE</p>
	</ul>

	<!-- Contact -->
	<div class="main--home_contact">
		<h3>Let's Chat!</h3>
		<p>
			Tell me a bit about yourself! Okay, I’ll go first - when away from my keyboard, I can be found co-leading GDI Cincinnati, hiking, growing a succulent garden, taking too many pictures of my dog and savoring craft coffee (or beer, depending on the hour).
		</p>
		<%= partial "components/contact-form/contact-form" %>
	</div>
</main>
