---
title: Becky Sroufe | UI Designer & Front End Developer
---

<header class="header header--home">
	<div class="header--home_logo"></div>

	<div class="header--home_info">
		<h1 class="header--home_info_role">
			UI Designer <span class="ampersand">&amp;</span> Front End Developer
		</h1>

		<p class="header--home_info_description">
			Hi! My name is Becky and I am a problem solver who designs and builds solutions for users to enjoy. I have over 8 years experience handcrafting pixel magic into interactive digital experiences.
		</p>

		<a href="http://cl.ly/0A1D3P222l3g" title="View and download Becky Sroufe resume" target="_blank">
			<i class="fa fa-file-pdf-o icon-link"></i>View Resume
		</a>
	</div>
</header>

<div class="main-container">
	<main class="main main--home">

		<!-- Work Examples -->
		<%= partial "components/work/work" %>

		<!-- Contact -->
		<div class="main--home_contact">
			<%= partial "components/contact-info/contact-info" %>
			<%= partial "components/contact-form/contact-form" %>
		</div>

	</main>
</div>
