---
title: Becky Sroufe | UI Designer & Front End Developer
---

<header class="header header--home">
	<div class="logo"></div>

	<h1>
		UI Designer <span class="ampersand">&amp;</span> Front End Developer
	</h1>

	<p>
		Hi! My name is Becky and I am a problem solver who designs and builds solutions for users to enjoy. I have over 8 years experience handcrafting pixel magic into interactive digital experiences.
	</p>

	<a href="https://drive.google.com/file/d/0ByevVjwu0Lcyaklad2tfcmdSckU/view" alt="View and download Becky Sroufe resume" title="View and download Becky Sroufe resume" target="_blank">View Resume</a>
</header>

<main class="main main--home">
	<ul class="main--home_work">
		<li></li>
	</ul>

	<div class="main--home_contact">
	Let's Chat!
	</div>
</main>
