<h2 class="main--home_title">Work</h2>

<ul class="main--home_work grid">
	<% data.work.works.each do |work| %>
	<li class="main--home_work_sample work-effect">
		<a class="main--home_work_sample_page home-work--<%= work.className %> work-image" href="project-<%= work.className %>.html">

			<div class="caption">
				<div class="caption_detail">
					<h2 class="caption_title"><%= work.title %></h2>
					<p class="caption_role"><%= work.role %></p>
				</div>
			</div>

		</a>
	</li>
	<% end %>
</ul>