<h2 class="main--home_title">Work</h2>

<ul class="main--home_work grid">
	<% data.homeWork.works.each do |sample| %>
	<li class="main--home_work_sample work-effect">
		<a class="main--home_work_sample_page home-work--<%= sample.href %> work-image" href="project-<%= sample.href%>">

			<div class="caption">
				<div class="caption_detail">
					<h2 class="caption_title"><%= sample.title %></h2>
					<p class="caption_role"><%= sample.role %></p>
				</div>
			</div>

		</a>
	</li>
	<% end %>
</ul>