<h2 class="main--home_title">Work</h2>

<ul class="main--home_work">
	<% data.homeWork.works.each do |sample| %>
	<li class="main--home_work_sample">
		<a class="main--home_work_sample_page home-work--<%= sample.title %>" href="<%= sample.href %>"></a>
	</li>
	<% end %>
</ul>