//= Footer
//

.footer {
	padding-bottom: $divider-margin/2;
	background-color: $brand-neutral;
	font-size: $font-size-base;

	a {
		// Reset to omit sliding border
	  &:after {
	    content: '';
	    display: none;
	  }
	}

	// Icons
	.icon {
		margin: $icon-gutter;
		vertical-align: middle;
	}

	&_info {
		width: 50%;
		display: inline-block;
		text-align: right;
	}
}

.copyright {
	display: inline-block;
}